* {box-sizing: border-box; margin: 0; padding: 0; font-family: 'Montserrat', sans-serif;}
body {position: relative; min-height: 100vh; display: flex; justify-content: center; align-items: center; padding: 3rem 0;}
.container {width: 80vw; min-height: 80vh; background-color: #333132; color: #fff; padding: 2.5rem; border-radius: 50px;}
h1 {margin-bottom: 1rem; border-bottom: 1px solid #fff; display: block; text-align: center;}
p {margin-bottom: 0.35rem;}
.block {display: block;}
input {margin-bottom: 1.5rem; font-size: 1.5rem; font-weight: 600; padding: 0.5rem;}
input.text {width: 100%;}
input::placeholder {font-size: 1rem; vertical-align: middle; font-weight: 500;}
.layout {margin-bottom: 3rem;}
.button {padding: 1rem; background-color: salmon; border-radius: 10px; display: block; cursor: pointer; width: fit-content; margin-left: auto; margin-right: auto; font-weight: 600; font-size: 1.2rem;}
img {width: 300px; height: auto; margin-bottom: 1rem;}
.row {border: 3px solid salmon; border-radius: 20px; padding: 1.5rem; margin-bottom: 1.5rem;}
.colors {margin: 1.5rem 0 2.5rem 0;}
.colors span {margin-right: 1.5rem; border-radius: 10px; padding: 0.5rem; font-size: 1.1rem; font-weight: 500; display: inline-block; cursor: pointer; position: relative;}
.colors span::before {content: ''; position: absolute; width: 12px; height: 12px; background-color: #fff; border-radius: 50%; left: 50%; transform: translateX(-50%); bottom: -1.3rem; display: none;}
.colors span.active::before {display: block;}
.colors input {margin-bottom: 0;}
.green {background-color: #31dc32;}
.yellow {background-color: #fce01a;}
.red {background-color: #fe0002;}
.blue {background-color: #2983fe;}